.container{
    display: flex;
}
.sidebar{
    width: 50%;
}
.myinfo{
    width: 100%;
}
.menubar{
    width: 100%;
}
.contents{
    padding: 20px;
}
.first_line{
    padding: 10px;
    display: block;
    background: rgb(194, 194, 255);
}
.first_line input{
    width: 80px;
}
.list_table{
    margin-top: 5px;
}
.list_table table{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}
.list_table table thead{
    font-weight: bold;
    background: rgb(194, 194, 255);
}
.list_table table  tbody tr{
    background: white;
}
.list_table table tbody tr:nth-child(even){
    background: rgb(236, 236, 236);
}
.mytable{
    margin-top: 20px;
}
.mytable table{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}
.mytable table thead{
    font-weight: bold;
    background: rgb(194, 194, 255);
}
.mytable table tbody tr{
    height: 50px;
    font-size: 12px;
}
.mytable table tbody tr,td{
    border: 1px solid gray;
}

