*{
    margin: 0;
    padding: 0;           
}
.header{
    height: 10%;
}
iframe{
    display: block;
    border: 0;
    margin: 0;
}
.sidebar{
    display: inline;
    width: 10%;
    height: 100%;
    background: #DEDFEA;
}
.myinfo{
    display: block;
    width: 10%;
}
.menubar{
    display: block;     
    width: 10%;
    height: 100%;
}
.contents{
    display: inline;
    width: 400%;
}
.container{
    height: 100vh;
}
