*{
    margin: 0;
    padding: 0;           
}
.contents a{
	text-decoration: none;
	color: black;
}
.header{
    height: 10%;
}
iframe{
    display: block;
    border: 0;
    margin: 0;
}
.sidebar{
    display: flex;
    width: 50%;
    height: 100%;
}
.myinfo{
    display: block;
    width: 100%;
}
.contents{
    display: inline;
    width: 400%;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.menubar{
    width: 100%;
}
.first-line{
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: flex-start;
}
.notice{
    padding-left: 60px;
    width: 30%;
    height: 100%;
}
.notice h3{
    margin-top: 10px;
    margin-left: 110px;
    margin-bottom: -10px;
}
table{
    width: 80%;
    border-collapse: collapse;
    border-bottom: 2px solid black;
}
table td{
    height: 30px;
}
.notice table thead{
    text-align: center;
    font-weight: bold;
    color: white;
    background: rgb(99, 150, 216);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.notice table tbody tr{
    background: white;
}
.notice table tbody td{
    padding-left: 20px;
}
.notice table tbody tr:nth-child(even){
    background: rgb(230, 230, 230);
}
.banner{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
}
.p-table{
    display: flex;
    width: 60%;
    height: auto;
    justify-content: center;
    text-align: center;
}
.p-table table tr,td{
    border: 1px solid gray;
}
.p-table table thead{
    background: lightgray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.p-table table tbody tr{
    height: 50px;
}
