.contents{
    padding: 50px;
}
iframe{
    display: block;
}

.table {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 30px;
    border: #d7e2eb solid 1px;
    border-radius: 5px;
    background-color: #fff;
    row-gap: 28px;
}

.table3 {
	padding: 10px;
}

td {
	padding: 7px 20px;
}

input[type=tel] { 
    flex-grow: 1;
    padding: 7px 20px;
    border: #e6eef5 solid 2px;
    background-color: #fbfbfd;
    color: #263747;
}
input[type=email] { 
    flex-grow: 1;
    padding: 7px 20px;
    border: #e6eef5 solid 2px;
    background-color: #fbfbfd;
    color: #263747;
}
input[type=button] { 
    display: flex;
	border: white solid 2px;
    background-color: #0078ff;
    color: #fff;
    height : 30px;
    font-weight : bold ;
    font-size : 15px;
    cursor: pointer;
    width: 50px;
    justify-content: center;
}
.pwd{
	color : red;
}
.pwd:after {
  display:block;
  content: '';
  border-bottom: solid 2px red;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.pwd:hover:after { transform: scaleX(1); }
.pwd:after{  transform-origin:  0% 50%; }
