*{
    margin: 0;
    padding: 0;  
}
body{
    text-align: center;
}

.container {
    display: inline;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-top: 10px;
}

.search-form {
   
    align-items: center;
  
}
.header{
    background-color: bisque;
    height: 10%;
}
iframe{
    border: 0;
    margin: 0;
    display: block;
}
.sidebar{
    display: inline;
    width: 10%;
    height: 100%;
    background-color: #DEDFEA;
}
.myinfo{
    display: block;
    width: 100%;
}
.menubar{
    display: block;     
    width: 100%;
    height: 100%;
}
.wrapper{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.pagination{
    text-align: center;
    margin-top: -12px;
}
.pagination a{
    color: black;
    text-decoration: none;
}

.pagination a:hover{
    color:red;
    text-decoration: underline;
}

.pagination span a:focus{
    color: red;
    font-weight: bold;
}

.noticelist tbody tr:hover{
    background-color: aliceblue;
}

.noticelist tbody tr{

    height: 50px;

}
.new {
   color: orange;
   font-weight: 2000;
}

.nidx, .viewcnt, .writeday{
    color: gainsboro;
}

.btn{
    background-color: black;
    border-radius: 5px;
    color: whitesmoke;
}

.contents{
    color: black;
    text-decoration: none;
}

.contents:hover{
    text-decoration: underline;
}
